


.cianotipo1{background:#F7DB4F;}
.gravuras1{background: #EC2049;}
.livros1{background: #F26B38;}
.modelos1{background: #A7226E;}
.design1{background: #2F9599;}
.preto1{background: #0d0d0d;}
/* } */

/* .footer p {
	color: #666;
	text-align: center;
	max-width: none;
} */